<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/xmg</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>

        <!-- 二级缓存名称前缀 -->
		<property name="cache.region_prefix">hibernate</property>

		<!-- 开启二级缓存 默认为true -->
		<property name="cache.use_second_level_cache">true</property>

        <!-- 告诉hibernate使用哪个缓存框架作为缓存框架 -->
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <!-- 开启查询缓存 -->
        <property name="cache.use_query_cache">true</property>

		<!-- 默认值为false,若把它设为true,将改变delete()方法的运行行为:delete()
		方法会把持久化对象或游离对象的 OID设置为null,使它们变为临时对象  -->
        <property name="use_identifier_rollback">true</property>

        <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">validate</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">none</property> -->
		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
		<mapping resource="temp/domain/many2one.hbm.xml"/>
        <class-cache class="temp.domain.Employee" usage="read-only" region="Employee"/>
	</session-factory>
</hibernate-configuration>
